#atr-form-review .source {
  margin-right: 25px;
}
html ul.atr-locations li {
  background-position: right 4px;
  padding-right: 18px;
}
.atr-locations-toggle {
  background: url(../images/arrow-left.gif) right center no-repeat;
  padding-right: 18px;
}