html ul.atr-locations li {
  background: url(../images/file.png) left 4px no-repeat;
  display: block;
  line-height: 20px;
  padding-left: 18px;
}
.atr-locations-toggle {
  background: url(../images/arrow-right.gif) left center no-repeat;
  cursor: pointer;
  padding-left: 18px;
}
.atr-locations-toggle:hover {
  color: black;
}
.atr-locations-toggle.expanded {
  background-image: url(../images/arrow-down.gif);
}
.atr-highlight {
  color: #000;
  background-color: #eee;
  border: 1px solid;
  border-radius: 4px;
  -moz-border-radius: 4px;
  padding: 1px 2px;
  -webkit-border-radius: 4px;
}
.atr-highlight.error {
  background-color: #fdd;
  border-color: #ecc;
}
.atr-highlight.ok {
  background-color: #dfd;
  border-color: #cec;
}
.atr-highlight.atr-comment {
  background-image: url(../images/question-mark.png);
  background-position: top right;
  background-repeat: no-repeat;
  cursor: help;
  padding-right: 10px;
}